.description{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: space-evenly;
}

img{
    width: 15vw;
    height: 20vh;
    border-radius: 5%;
}

.description a:hover{
    box-shadow: 1px 1px 5px 5px;
    background-color: white;
    border-radius: 5%;
}

.dessert{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-evenly;
}

.item{
    padding: 13px;
}

.item:hover{
    box-shadow: 1px 1px 5px 5px;
    background-color: white;
    border-radius: 5%;
}

.choose{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: space-evenly;
}

.choose .item{
    margin: 3vh;
}

.choose .item img{
    width: 20vw;
    height: 25vh;
}

@media only screen and (max-width: 1200px) {
    .dessert{
        display: grid;
        grid-template-columns: auto auto;
    }

    .description{
        display: grid;
        grid-template-columns: auto auto;
    }

    img{
        width: 25vw;
    }
}

@media only screen and (max-width: 750px){    
    img{
        width: 25vw;
        height: 15vh;
    }

    .choose .item img{
        width: 30vw;
        height: 19vh;
    }
}

@media only screen and (max-width: 650px){
    img{
        width: 25vw;
        height: 10vh;
    }

    .choose .item img{
        width: 25vw;
        height: 16vh;
    }
}