h1{
    text-align: center;
    padding: 19px;
}

.table{
    display: grid;
    grid-template-columns: auto auto auto;
}

.table-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1200px){
    .footer{
        font-size: 12px;
    }
}

@media only screen and (max-width: 992px){
    .footer{
        font-size: 10px;
    }
}

@media only screen and (max-width: 750px){
    .footer{
        font-size: 8px;
    }
}

@media only screen and (max-width: 650px){
    .footer{
        font-size: 6px;
        margin-top: 20px;
    }
}